.navbar {
  background-color: #333;
  overflow: hidden;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  display: block;
  padding: 14px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #ddd;
  color: black;
}
